@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* Inicio: Reset + General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: unset;
}

html {
  font-size: 62.5%;
  color: rgb(54, 53, 53);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

main {
  grid-area: main;
  font-family: "Roboto Slab", serif;
  background-color: rgb(252, 252, 252);
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.contenedor {
  padding: 5rem 15rem;
}

.titulo {
  margin-bottom: 5rem;
}

.titulo hr {
  animation-name: aparecer;
  animation-duration: 1s;
  display: inline-block;
  width: 120px;
  border: 1px solid rgb(18, 150, 211);
  margin: 0.5rem 2rem;
  opacity: 1;
}

.tituloPagina {
  display: inline;
  margin: 15px 0;
  font-size: 2.5rem;
  color: rgb(18, 150, 211);
}

@keyframes aparecer {
  0% {
    width: 0;
  }

  100% {
    width: 120px;
  }
}

/* Fin: Reset + General */

/* Inicio: header + footer*/
header,
footer {
  background-color: rgb(245, 245, 245);
  font-family: "Poppins", sans-serif;
  padding: 20px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 130px;
}

header nav .not-focus {
  padding: 0;
  opacity: .7;
}

header nav .not-focus:focus {
  box-shadow: none;
}

header nav li .nav-link__hover {
  color: rgb(34, 33, 33);
}

header nav li .nav-link__hover:hover {
  color: rgb(18, 150, 211);
}

header nav li .activo {
  font-weight: 700;
}

footer .social a img {
  display: inline-block;
  width: 30px;
  padding: 0 5px;
}

/* Fin: header + footer */

/* Inicio: Inicio */
.inicio {
  background-image: url("../assets/img/BGI-fullcolor.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.inicio .presentacion__title {
  font-size: 6rem;
  font-weight: 900;
}

.inicio .presentacion__subtitle {
  font-size: 4rem;
}

/* Fin: Inicio */

/* Inicio: Sobre Mi */
.sobreMi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.sobreMi .sobreMi__fotografia {
  width: 30%;
}

.sobreMi .sobreMi__descripcion {
  width: 66%;
  min-width: 300px;
  font-size: 1.7rem;
}

/* Fin: Sobre Mi */

/* Inicio: Habilidades */
.habilidades .habilidades__card {
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  border: 1px solid rgb(180, 190, 199);
  border-radius: 0;
}

.habilidades .habilidades__card .habilidades__card--header {
  background-color: white;
  padding: 1rem 1rem 0;
}

.habilidades .habilidades__card div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.habilidades .habilidades__card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.habilidades .habilidades__card div img {
  width: 50px;
  justify-self: end;
}

.habilidades .habilidades__card div p {
  font-size: 1.4rem;
}

/* Fin: Habilidades */

/* Inicio: Proyectos */
.proyectos .proyecto .proyecto__imagen {
  position: relative;
  overflow: hidden;
}

.proyectos .proyecto .proyecto__imagen img {
  width: 350px;
}

.proyectos .proyecto .proyecto__imagen div {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: -100%;
  width: 100%;
  border-top: solid 1px rgb(112, 112, 114);
  background-color: rgb(18, 150, 211);
  text-align: center;
  transition: all .8s;
}

.proyectos .proyecto .proyecto__imagen:hover div {
  bottom: 0;
  height: auto;
  padding: 10px 0;
}

.proyectos .proyecto .proyecto__imagen div a {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}

.proyectos .proyecto .proyecto__descripcion {
  flex: 1;
  font-size: 1.5rem;
}

/* Fin: Proyectos */

/* Inicio: Servicios*/
.servicios .servicios__titulo {
  font-size: 1.6rem;
}

.servicios .servicios__tabla thead {
  background-color: rgb(18, 150, 211);
  color: rgb(245, 244, 244);
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}

.servicios .servicios__tabla tbody {
  font-size: 1.3rem;
}

.servicios .servicios__tabla th,
.servicios .servicios__tabla td {
  padding: 5px 10px;
}

/* Fin: Servicios*/

/* Inicio: Contacto */
#contacto iframe {
  width: 98%;
  height: 100%;
}

#contacto .contacto__form input,
#contacto .contacto__form textarea {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgb(192, 190, 190);
  font-size: 1.4rem;
  color: rgb(102, 101, 101);
  font-family: "Poppins", sans-serif;
}

#contacto .contacto__form .btn--propio {
  width: 100%;
  padding: 15px 0;
  font-size: 1.3rem;
  background-color: #94a6b6;
  border-color: #94a6b6;
  font-family: "Poppins", sans-serif;
}

#contacto .contacto__form .btn--propio:hover {
  background-color: #71787e;
  border-color: #71787e;
}

/* Fin: Contacto */

/* ********     INICIO MEDIA QUERY'S    ******** */

/* Inicio: Tamaño <= 1024px */
@media (max-width: 1024px) {

  /* Inicio: Reset + General */
  .contenedor {
    padding: 5rem;
  }

  /* Fin: Reset + General */

  /* Inicio: Inicio */
  .inicio .presentacion__title {
    font-size: 4rem;
  }

  .inicio .presentacion__subtitle {
    font-size: 2rem;
  }

  /* Fin: Inicio */

  /* Inicio: Sobre Mi */
  .sobreMi .sobreMi__fotografia {
    width: 40%;
  }

  .sobreMi .sobreMi__descripcion {
    width: 56%;
  }

  /* Fin: Sobre Mi */

  /* Inicio: Contacto */
  #contacto iframe {
    width: 100%;
  }

  /* Fin: Contacto */
}

/* Fin: Tamaño <= 1024px */

/* Inicio: Tamaño <= 768px */
@media (max-width: 768px) {

  /* Inicio: Sobre Mi */
  .sobreMi .sobreMi__fotografia,
  .sobreMi .sobreMi__descripcion {
    min-width: 100%;
  }

  .sobreMi .sobreMi__fotografia {
    display: flex;
    justify-content: center;
  }

  .sobreMi .sobreMi__imagen {
    width: 50%;
  }

  /* Fin: Sobre Mi */

  /* Inicio: Habilidades */
  .habilidades .habilidades__card div {
    display: flex;
    justify-content: center;
  }

  .habilidades .habilidades__card div p {
    display: none;
  }

  /* Fin: Habilidades */

  /* Inicio: Proyectos */
  .proyectos .proyecto .proyecto__imagen div {
    position: relative;
    padding: 10px 0;
    bottom: 0;
  }

  /* Fin: Proyectos */
}

/* Fin:  Tamaño <= 768px */

/* Inicio: Tamaño <= 480px */
@media (max-width: 480px) {

  /* Inicio: Reset + General */
  .contenedor {
    padding: 3rem;
  }

  .titulo hr {
    display: none;
  }

  /* Fin: Reset + General */

  /* Inicio: header + footer*/
  footer {
    flex-direction: column;
  }

  footer .social {
    margin-top: 2rem;
  }

  /* Fin: header + footer */

  /* Inicio: Proyectos */
  .proyectos .proyecto .proyecto__descripcion,
  .proyectos .reverse .proyecto__descripcion {
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .proyectos .proyecto .proyecto__imagen,
  .proyectos .reverse .proyecto__imagen {
    width: 100%;
  }

  .proyectos .proyecto .proyecto__imagen img,
  .proyectos .reverse .proyecto__imagen img {
    width: 100%;
  }

  /* Fin: Proyectos */
}

/* Fin: Tamaño <= 480px */

/* ********     FIN MEDIA QUERY'S    ******** */