@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/extend";

@import "base/reset";
@import "base/tipografia";
@import "base/general";

@import "layout/grid";
@import "layout/header";
@import "layout/footer";

@import "views/inicio";
@import "views/sobremi";
@import "views/habilidades";
@import "views/proyectos";
@import "views/servicios";
@import "views/contacto";
