<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/styles.css">    
    <title>Leandro Fernandez | Habilidades</title>
  </head>
  <body>
    <!-- Inicio: Logo + Navegacion -->
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo.png" alt="Logo" class="logo"/>
      </a>
      <nav>
        <ul class="navlist">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./sobre-mi.html">Sobre Mi</a></li>
          <li><a href="./habilidades.html" class="activo">Habilidades</a></li>
          <li><a href="./proyectos.html">Proyectos</a></li>
          <li><a href="./servicios.html">Servicios</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <!-- Fin: Logo + Navegacion -->
    <!-- Inicio: Cuerpo de la seccion Habilidades -->
    <main id="habilidades" class="contenedor">
      <div class="titulo">
        <h1 class="tituloPagina">Mis Habilidades</h1>
        <hr>
      </div>
      <section class="habilidades">
        <article class="habilidades__card">
          <h2>FrontEnd</h2>
          <hr />
          <div>
            <img src="../assets/img/html.png" alt="HTML" />
            <p>HTML</p>
          </div>
          <div>
            <img src="../assets/img/css-3.png" alt="CSS" />
            <p>CSS</p>
          </div>
          <div>
            <img src="../assets/img/js.png" alt="JS" />
            <p>JS</p>
          </div>
        </article>
        <article class="habilidades__card">
          <h2>BackEnd</h2>
          <hr />
          <div>
            <img src="../assets/img/php.png" alt="PHP" />
            <p>PHP</p>
          </div>
          <div>
            <img src="../assets/img/servidor-sql.png" alt="SQL" />
            <p>SQL</p>
          </div>
          <div>
            <img src="../assets/img/nodo-js.png" alt="NODE" />
            <p>NODE</p>
          </div>
          <div>
            <img src="../assets/img/python.png" alt="PYTHON" />
            <p>PYTHON</p>
          </div>
        </article>
        <article class="habilidades__card">
          <h2>Tecnologías</h2>
          <hr />
          <div>
            <img src="../assets/img/git.png" alt="GIT" />
            <p>GIT</p>
          </div>
          <div>
            <img src="../assets/img/webpack.png" alt="WEBPACK" />
            <p>WEBPACK</p>
          </div>
          <div>
            <img src="../assets/img/npm.png" alt="NPM" />
            <p>NPM</p>
          </div>
        </article>
      </section>
    </main>
    <!-- Fin: Cuerpo de la seccion Habilidades -->
    <!-- Inicio: Footer Copyright + Redes Sociales -->
    <footer>
      <div class="copyright">
        <p>&copy; Leandro Fernandez 2022</p>
      </div>
      <div class="social">
        <a href="#">
          <img src="../assets/img/facebook.png" alt="facebook" />
        </a>
        <a href="#">
          <img src="../assets/img/instagram.png" alt="instagram" />
        </a>
        <a href="#">
          <img src="../assets/img/gorjeo.png" alt="twitter" />
        </a>
      </div>
    </footer>
    <!-- Fin: Footer Copyright + Redes Sociales -->
  </body>
</html>
