<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Leandro Fernandez | Servicios</title>
  </head>
  <body>
    <!-- Inicio: Logo + Navegacion -->
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo.png" alt="Logo" class="logo"/>
      </a>
      <nav>
        <ul class="navlist">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./sobre-mi.html">Sobre Mi</a></li>
          <li><a href="./habilidades.html">Habilidades</a></li>
          <li><a href="./proyectos.html">Proyectos</a></li>
          <li><a href="./servicios.html" class="activo">Servicios</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <!-- Fin: Logo + Navegacion -->
    <!-- Inicio: Cuerpo de la seccion Servicios -->
    <main id="servicios" class="contenedor">
      <div class="titulo">
        <h1 class="tituloPagina">Mis Servicios</h1>
        <hr>
      </div>
      <section>
        <article class="servicios">
          <p class="servicios__titulo">Hago tu pagina a medida, consultame por la tuya!</p>
          <!-- Inicio: Tabla de servicios -->
          <table class="servicios__tabla">
            <thead>
              <tr>
                <th>Tipo</th>
                <th class="hidden">Descripción</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Diseño Web Económico</td>
                <td class="hidden">
                  Recomendable para pequeños emprendedores. Esta compuesto por una
                  unica pagina, con cuatro secciones. Portada, Servicios, Quienes
                  somos, Contacto.
                </td>
                <td>$30.000</td>
              </tr>
              <tr>
                <td>Diseño Web Autogestionable</td>
                <td class="hidden">
                  Recomendable para emprendedores y/o PyMEs. Cuenta con 4
                  secciones. Inicio, Servicios/Productos, Quienes somos, Contacto.
                  Tambien con la posibilidad de gestionar la información del
                  sitio.
                </td>
                <td>$60.000</td>
              </tr>
              <tr>
                <td>Diseño Web Tiendas</td>
                <td class="hidden">
                  Recomendable para comercios o emprendedores que busquen tener
                  mayores ventas on-line. Cuenta con 4 secciones. Inicio,
                  Servicios/Productos, Quienes somos, Contacto. Tambien con la
                  posibilidad de gestionar la información del sitio y procesar
                  pagos.
                </td>
                <td>$80.000</td>
              </tr>
            </tbody>
          </table>
          <!-- Fin: Tabla de servicios -->
        </article>
      </section>
    </main>
    <!-- Fin: Cuerpo de la seccion Servicios -->
    <!-- Inicio: Footer Copyright + Redes Sociales -->
    <footer>
      <div class="copyright">
        <p>&copy; Leandro Fernandez 2022</p>
      </div>
      <div class="social">
        <a href="#">
          <img src="../assets/img/facebook.png" alt="facebook" />
        </a>
        <a href="#">
          <img src="../assets/img/instagram.png" alt="instagram" />
        </a>
        <a href="#">
          <img src="../assets/img/gorjeo.png" alt="twitter" />
        </a>
      </div>
    </footer>
    <!-- Fin: Footer Copyright + Redes Sociales -->
  </body>
</html>
