<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Leandro Fernandez | Sobre Mi</title>
  </head>
  <body>
    <!-- Inicio: Logo + Navegacion -->
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo.png" alt="Logo" class="logo" />
      </a>
      <nav>
        <ul class="navlist">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./sobre-mi.html" class="activo">Sobre Mi</a></li>
          <li><a href="./habilidades.html">Habilidades</a></li>
          <li><a href="./proyectos.html">Proyectos</a></li>
          <li><a href="./servicios.html">Servicios</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <!-- Fin: Logo + Navegacion -->
    <!-- Inicio: Cuerpo de la seccion Sobre Mi -->
    <main id="sobreMi" class="contenedor">
      <div class="titulo">
        <h1 class="tituloPagina">Sobre Mi</h1> 
        <hr>
      </div>
      <section>
        <article class="sobreMi">
          <div class="sobreMi__fotografia">
            <img class="sobreMi__imagen" src="../assets/img/leandrofernandez.jpg" alt="Foto - Leandro Fernandez"/>
          </div>
          <div class="sobreMi__descripcion">
            <p>
              Mis comienzos distaban mucho de lo que hoy me apasiona. Inicialmente
              oriente mi educación hacia economia, creyendo que mi futuro podría
              estar en este ámbito. Ya al final del secundario, me resultaba todo
              demasiado aburrido. Asi que decidí dar un giro a mis estudios.
            </p>
            <p>
              Mi contacto con la programación comienzó en el año 2009, cuando
              ingresé a cursar la carrera de Ingenieria en sistemas.
              Lamentablemente no fue un gran comienzo, por lo que no volvi a
              acercarme nuevamente sino hasta el 2019, donde, de manera
              autodidacta, comence a seguir diferentes tutoriales, buscar
              información, recursos, lecturas relacionadas de los diversos
              lenguajes.Hoy encuentro emocionante el mundo de la programación, uno
              que se encuentra siempre en constante evolución y presentando nuevos
              desafios.
            </p>
            <p>
              En mis momentos de ocio, disfruto mucho de la naturaleza, tocar mi
              guitarra, juntarme con amigos y caminar por nuevos y diferentes
              barrios de mi ciudad. Otra de mis pasiones es viajar, ya que siempre
              me gusta conocer lugares y personas nuevas, sus costumbres y
              culturas, y los paisajes que pueden ofrecer.
            </p>
          </div>
        </article>
      </section>
    </main>
    <!-- Fin: Cuerpo de la seccion Sobre Mi -->
    <!-- Inicio: Footer Copyright + Redes Sociales -->
    <footer>
      <div class="copyright">
        <p>&copy; Leandro Fernandez 2022</p>
      </div>
      <div class="social">
        <a href="#">
          <img src="../assets/img/facebook.png" alt="facebook" />
        </a>
        <a href="#">
          <img src="../assets/img/instagram.png" alt="instagram" />
        </a>
        <a href="#">
          <img src="../assets/img/gorjeo.png" alt="twitter" />
        </a>
      </div>
    </footer>
    <!-- Fin: Footer Copyright + Redes Sociales -->
  </body>
</html>
