<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Portfolio - Leandro Fernandez - Sección sobre mi, 'Una breve descripción de su persona...'"
    />
    <meta name="keywords" content="Desarrollo web, Desarrollador web, Programación, Programador, Proyectos, Html, Css, Sass, Bootstrap, JavaScript, JS, PHP, SQL, NODE, GIT, GITHUB. ">
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
    <!-- Estilos externos -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/hamburgers.css" />
    <!-- Estilos propios -->
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Leandro Fernandez | Sobre Mi</title>
  </head>
  <body>
    <!-- Inicio: Logo + Navegacion -->
    <header>
      <nav class="navbar navbar-expand-md w-100">
        <div class="container-fluid">
          <a href="../index.html" class="navbar-brand">
            <img src="../assets/img/logo.png" alt="Logo" class="logo" />
          </a>
          <button
            class="hamburger hamburger--squeeze navbar-toggler not-focus"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item mx-auto">
                <a href="../index.html" class="nav-link nav-link__hover"
                  >Inicio</a
                >
              </li>
              <li class="nav-item mx-auto">
                <a
                  href="./sobre-mi.html"
                  class="nav-link nav-link__hover activo"
                  >Sobre Mi</a
                >
              </li>
              <li class="nav-item mx-auto">
                <a href="./habilidades.html" class="nav-link nav-link__hover"
                  >Habilidades</a
                >
              </li>
              <li class="nav-item mx-auto">
                <a href="./proyectos.html" class="nav-link nav-link__hover"
                  >Proyectos</a
                >
              </li>
              <li class="nav-item mx-auto">
                <a href="./servicios.html" class="nav-link nav-link__hover"
                  >Servicios</a
                >
              </li>
              <li class="nav-item mx-auto">
                <a href="./contacto.html" class="nav-link nav-link__hover"
                  >Contacto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Fin: Logo + Navegacion -->
    <!-- Inicio: Cuerpo de la seccion Sobre Mi -->
    <main id="sobreMi">
      <section class="container py-5">
        <div class="titulo">
          <h1 class="tituloPagina">Sobre Mi</h1>
          <hr />
        </div>
        <article class="row px-sm-0 px-2">
          <div
            class="col-lg-5 col-md-12 col-sm-12 col-12 d-flex flex-column justify-content-center mb-lg-0 mb-md-3 mb-sm-3 mb-3"
          >
            <img
              class="rounded-circle img-fluid"
              src="../assets/img/leandrofernandez.jpg"
              alt="Foto - Leandro Fernandez"
            />
          </div>
          <div
            class="sobreMi__descripcion col-lg-7 col-md-12 col-sm-12 col-12 d-flex flex-column justify-content-center"
          >
            <p class="mb-3">
              Mis comienzos distaban mucho de lo que hoy me apasiona.
              Inicialmente oriente mi educación hacia economía, creyendo que mi
              futuro podría estar en este ámbito. Ya al final del secundario, me
              resultaba demasiado aburrido. Así fue que decidí dar un giro a mis
              estudios.
            </p>
            <p class="mb-3">
              Mi contacto con la programación comenzó en el año 2009, cuando
              ingresé a cursar la carrera de Ingeniería en sistemas.
              Lamentablemente no fue un gran comienzo, por lo que no volví a
              acercarme nuevamente sino hasta el 2019, donde, de manera
              autodidacta, comencé a seguir diferentes tutoriales, buscar
              información, recursos, lecturas relacionadas de los diversos
              lenguajes. Hoy encuentro emocionante el mundo de la programación,
              uno que se encuentra siempre en constante evolución y presentando
              nuevos desafíos.
            </p>
            <p class="mb-3">
              En mis momentos de ocio, disfruto mucho de la naturaleza, tocar la
              guitarra, juntarme con amigos y caminar por nuevos y diferentes
              barrios de mi ciudad. Otra de mis pasiones es viajar, ya que me
              gusta conocer lugares y personas nuevas, sus costumbres y
              culturas, y los paisajes que pueden ofrecer.
            </p>
          </div>
        </article>
      </section>
    </main>
    <!-- Fin: Cuerpo de la seccion Sobre Mi -->
    <!-- Inicio: Footer Copyright + Redes Sociales -->
    <footer>
      <div class="copyright">
        <p>&copy; Leandro Fernandez 2022</p>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="../assets/img/facebook.png" alt="facebook" />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../assets/img/instagram.png" alt="instagram" />
        </a>
        <a href="https://twitter.com/" target="_blank">
          <img src="../assets/img/gorjeo.png" alt="twitter" />
        </a>
      </div>
    </footer>
    <!-- Fin: Footer Copyright + Redes Sociales -->
    <!-- Inicio: Script -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/hamburgers.js"></script>
    <!-- Fin: Script -->
  </body>
</html>
