// Variables y Mapa de colores
$colores: (
  primero: #1296d3,
  segundo: #f5f5f5,
  tercero: #ffffff,
);

$fontUno: "Montserrat", sans-serif;
$fontDos: "Poppins", sans-serif;
$fontTres: "Roboto Slab", serif;

$mobile: (
  max-width: 576px,
);
$tablet: (
  max-width: 768px,
);
$desktop: (
  max-width: 1024px,
);
