footer {
  @include headerfooter();
  .social {
    a {
      img {
        display: inline-block;
        width: 30px;
        margin: 0 5px;
      }
    }
  }
  @media (max-width: 576px) {
    flex-direction: column;
    .social {
      margin-top: 2rem;
    }
  }
}
