// Inicio: Header
header {
  @extend %headerfooter;
  .logo {
    width: 130px;
  }
  nav {
    .not-focus {
      padding: 0;
      opacity: 0.7;
      &:focus {
        box-shadow: none;
      }
    }
    li {
      .nav-link__hover {
        color: rgb(34, 33, 33);
        &:hover {
          color: map-get($map: $colores, $key: primero);;
        }
      }
      .activo {
        font-weight: 700;
      }
    }
  }
}
// Fin: Header